{% include base_path %}

<style>
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links clearfix">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/"><image src="{{ base_path }}/images/logo.png" style="height:54px"></a></li>
          <li class="masthead__menu-item">
          <div class="dropdown">
            <span><a href="">Datasets</a></span>
              <div class="dropdown-content">
                <p><a href="{{ base_path}}/fineaction/">FineAction</a></p>
                <p><a href="{{ base_path}}/multisports/">MultiSports</a></p>
                <p><a href="">Kinetics-TPS</a></p>
              </div>
          </div>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>